# Package dependencies
cloud-sql-python-connector[pg8000]
google-cloud-alloydb-connector[pg8000]
google-cloud-aiplatform
google-cloud-secret-manager
openai
pandas
pymysql
sqlalchemy
pyaml_env
pyarrow
protobuf
absl-py
tabulate
grpcio
grpcio-tools
aiologger
jsonschema
